{% extends "main/start.html" %}


{% block li%}
<ul class="menu-main">
    <li><a href="{% url 'home' %}">Главное</a></li>
    <li><a href="{% url 'lol' %}">Добавить запись</a></li>
    <li><a href="{% url 'login' %}">Войти</a></li>
  </ul>
{% endblock %}
{% block content %}
    <div class="start">
        <h1 class="main">Доска объявлений</h1>
        {% if main %}
            {% for i in main %}
                <div class="alert one">
                    <h3 class="title">{{ i.title }}</h3>
                    <p class="intro">{{ i.intro }}</p>
                    <p class="text">Описание: {{ i.full_text }}</p>
                    <p class="price">Цена: {{i.price}}</p>
                    {% if i.image %}
                    <p class="img"><img src="{{i.image.url}}" width="200" height="200"></p>
                    {% else %}
                    <p></p>
                    {% endif %} 
                    <a class="btn btn-warning" href="{% url 'news-detail' i.id %}">Перейти</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Объявлений нету</p>
        {% endif %}
    </div>

{% endblock %}